body {
  background-color: rgb(52,52,52);
  font-family: 'Press Start 2P', Verdana, sans-serif;
}


h1 {
  color: rgb(224, 223, 223);
  text-align: center;
  text-decoration-line: overline;
  letter-spacing: 5px;
}

p{
/* font-size: 20px; */
}

.gameHeader, .gameBody{
  background-color: rgb(211, 153, 4);
}