head {
  background-color: rgb(52,52,52);
  font-family: Verdana, sans-serif;
}

body {
    background-color: rgb(52,52,52);
    font-family: Verdana, sans-serif;
  }

  h1 {
    color: rgb(224, 223, 223);
    text-align: center;
    text-decoration-line: overline;
    letter-spacing: 5px;
  }

  p{
  /* font-size: 20px; */
  }