head {
  background-color: rgb(52,52,52);
}

body {
    background-color: rgb(52,52,52);
  }

  h1 {
    color: rgb(224, 223, 223);
    text-align: center;
    text-decoration-line: overline;
    letter-spacing: 5px;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }

  p.solid {border-style: solid;}
  h1.solid {border-style: solid;}