head {
  background-color: rgb(52,52,52);
  font-family: OCR A Std, monospace;
}

body {
    background-color: rgb(52,52,52);
    font-family: OCR A Std, monospace;
  }

  h1 {
    color: rgb(224, 223, 223);
    text-align: center;
    text-decoration-line: overline;
    letter-spacing: 5px;
  }

  p {
    font-family: OCR A Std, monospace;
    font-size: 20px;
  }