<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h3>Home page</h3>
    <!-- <h2> testing if the page will work</h2> -->
    <table>
      <thead>
        <th>Picture of game here</th>
        <th><centre>Game ID:</centre></th>
        <th><centre>Game Name:</centre></th>
        <th><centre>Description:</centre></th>
    </thead>
    <tbody>
      <tr>
        <td>information will be inserted here..</td>
        <td>information will be inserted here..</td>
        <td>information will be inserted here..</td>
      </tr>
    </tbody>
    </table>
  </div>
</main>

<%- include ('../partials/footer') %>