<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>home</h1>
    <h2> testing if the page will work</h2>
  </div>
</main>

<%- include ('../partials/footer') %>